
  <div
    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
  >
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary"
        >{{ item.manufacturer}}</strong
      >
      <h3 class="mb-0">{{ item.name }}</h3>
      <div class="mb-1 text-muted">${{ item.price }}</div>
      <p class="card-text mb-auto">
        {% if item.stock %}<a style="color:green"> In stock</a><br>Click the thumbnail to purchase!{% else %} <a style="color:crimson">Out of stock</a><br>Please check back later for updates or join our discord server to be notified of restocks!
        {% endif %}
      </p>
    </div>
    <div class="col-auto d-none d-lg-block">
      <a href = {{ item.url }}>
      <img src={{ item.img_url }} class="img-thumbnail" alt="..." width="200" height="300">
      </a>
        <title>{{ item.name }}</title>
        <rect width="100%" height="100%" fill="#55595c" />
      </svg>
    </div>
  </div>
