
  <div
    class="row g-1 border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative"
  >
    <div class="col p-4 d-flex flex-column position-relative">
      <strong class="d-inline-block mb-2 text-primary"
        >{{ item.manufacturer}}</strong
      >
      <h5 class="mb-1">{{ item.name }}</h5>
      <div class="mb-auto text-muted">{% if item.price %} ${{ item.price }} {% endif %}</div>
      <p class="card-text mb-auto">
        {% if item.stock %}<a style="color:green"> In stock</a>{% else %} <a style="color:crimson">Out of stock</a>
        {% endif %}
      </p>
    </div>
    <div class="col-auto d-none d-lg-block">
      <a href = {{ item.url }}>
      <img src={{ item.img_url }} alt="..." width= auto height="150">
      </a>
    </div>
  </div>
