{% extends "base.html" %} 
{% block app_content %}
<main class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white bg-dark rounded shadow-sm">
      <div class="lh-1">
        {% if title %}
          <h1 class="h6 mb-0 text-white lh-1">{{ title }}</h1>
          <small>Page {{ page_num }}</small>
        {% else %}
          <h1 class="h6 mb-0 text-white lh-1">Items</h1>
          <small>Page {{ page_num }}</small>
        {% endif %}
      </div>
    </div>
  
    <div class="my-3 p-3 bg-body rounded shadow-sm">
      {% for item in paginated_items.items %} 
      {% include '_item.html' %} 
      {% endfor %}
      <small class="d-block text-end mt-3">
        <a href="#">Suggest an item</a>
      </small>
    </div>

    {# Macro for creating navigation links #}
{% macro render_navigation(pagination, endpoint, title) %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if pagination.has_prev %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for(endpoint, page=pagination.prev().page, manufacturer=title) }}" tabindex="-1">Previous</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1">Previous</a>
    </li>
    {% endif %}
  {% for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <li class="page-item"><a class="page-link" href="{{ url_for(endpoint, page=page, manufacturer=title) }}">{{ page }} </a></li>
      {% else %}
        <li class="page-item active"><a class="page-link" href="{{ url_for(endpoint, page=page, manufacturer=title) }}">{{ page }} </a></li>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {% endfor %}

    {% if pagination.has_next %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for(endpoint, page=pagination.next().page, manufacturer=title) }}" tabindex="-1">Next</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endmacro %}

{{ render_navigation(paginated_items, 'webpages.manufacturer_items', title) }}

{% endblock %}