{% extends "base.html" %} 
{% block app_content %}
<main class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white bg-dark rounded shadow-sm">
      <div class="lh-1">
        <h1 class="h6 mb-0 text-white lh-1">Items</h1>
        <small>Currently tracking {{ number }} items.</small>
      </div>
    </div>
  
    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <h6 class="border-bottom pb-2 mb-0">Page {{ page_num }}</h6>
      {% for item in paginated_items.items %} 
      {% include '_item.html' %} 
      {% endfor %}
      <small class="d-block text-end mt-3">
        <a href="#">Suggest an item</a>
      </small>
    </div>

    {# Macro for creating navigation links #}
{% macro render_navigation(pagination, endpoint) %}
  <div class=pagination>
  {% for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {% endfor %}
  </div>
{% endmacro %}

{{ render_navigation(paginated_items, ) }}
  

{% endblock %}